@model GardenArt.ViewModels.ProductDisplayViewModel

<!DOCTYPE html>
@{
    Layout = "~/Views/Layout/_LayoutProduct.cshtml";
    ViewBag.Title = "Gardenart Sweden";
}

@section SideNavTop {
    <li>
        Möbler
    </li>
}

@section SideNav {

    @foreach (var item in Model.ProductCategories)
    {
        <li>
            @Html.ActionLink(item.ProductCategoryName, "category", new { id = item.ProductCategoryID })
        </li>

    }

}


@section Headline {
    <h3>Alla kategorier</h3>
}


@section MobileNav {
        <dl class="sub-nav">
            <dd><a href="#">Stolar</a></dd>
            <dd><a href="#">Bord</a></dd>
            <dd><a href="#">Soffor</a></dd>
            <dd><a href="#">Louge och Relax</a></dd>
            <dd><a href="#">Bistro</a></dd>
            <dd><a href="#">Bar</a></dd>
            <dd><a href="#">Småbord och tillbehör</a></dd>
        </dl>
}

@section Content {

<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">

    @foreach (var item in Model.ListOfProducts)
    {
        <li>

            <div class="product_box">

                <div class="product_image">

                    <a href="@Url.Action("category", new { id = item.ProductCategoryID })">
                        <img alt="@item.ProductCategoryName" id="@item.ProductCategoryID" src="@item.ImgUrl" />
                    </a>
                    
                </div>

                <div class="product_text">
                    <span class="product_name">@Html.ActionLink(@item.ProductCategoryName, "category", new { id = item.ProductCategoryID })</span>
                </div>

            </div>

        </li>

    }

    </ul>
}
